.container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 77, 91);
}
.subcontainer{
    margin: 0 auto;
    width: 80%;
}

.fa-solid{
    width: 100px;
    height: 100px;
    font-size: 50px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: rgb(59, 158, 191);
    outline-color:white ;
    outline-width: 5px;
}
.heading h1{
    color: rgb(234, 97, 97);
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
}
.heading h5{
    color: #fff;
    text-align: center;
}
.yellow1a{
    background-color: rgb(228, 179, 3);
    color: #fff;
    text-align: center;
}
.blue1b{
    background-color: rgb(90, 182, 240);
    color: #fff;
    text-align: center;
}
.red2{
    background-color: rgb(217, 58, 58);
    color: #fff;
}
.blue3{
    background-color: rgb(90, 182, 240);
    color: #fff;
}
.red4a{
    background-color: rgb(217, 58, 58);
    color: #fff;
}
.yellow4b{
    background-color: rgb(228, 179, 3);
    color: #fff;
}
.blue5{
    background-color: rgb(90, 182, 240);
    color: #fff;
}
.yellow6{
    background-color: rgb(228, 179, 3);
    color: #fff;
}
.blue7a{
    background-color: rgb(90, 182, 240);
    color: #fff;
}
.red7b{
    background-color: rgb(217, 58, 58);
    color: #fff;
}
