

.container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 77, 91);
}
.subcontainer{
    margin: 0 auto;
    width: 80%;
}

.fa-children{
    position: relative;
    top:110px;
    left: 55px;
    width: 90px;
    height: 90px;
    font-size: 50px;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(59, 158, 191);
    outline-style: solid;
    outline-color:white ;
    outline-width: 5px;
    /* transform: translate(-25%, -20%); */
}
 

.heading h1{
    color: rgb(234, 97, 97);
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
}
.heading h5{
    color: #fff;
    text-align: center;
}
.fa-child{
    font-size: 35px;
    text-align: center;
}

.yellow1a,.yellow6,.yellow4b{
    background-color: rgb(228, 179, 3);
    color: #fff;
}

.blue1b,.blue3,.blue5,.blue7a{
    background-color: rgb(90, 182, 240);
    color: #fff; 
}

.red2,.red4a,.red7b{
    background-color: rgb(217, 58, 58);
    color: #fff;
}